{% load static %}
{% load i18n %}
<!DOCTYPE html> 
<html> 
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {% block head_title %}
        {% endblock head_title %}Social App
      </title>

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <script src="{% static "js/htmx.min.js" %}" defer></script>
      {% comment %} <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> {% endcomment %}
      {% comment %} <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script> {% endcomment %}

    </head>
  <body class='bg-dark pt-5'> 
    {% if messages %}
      
        <div class="toast-container top-0 start-50 translate-middle-x p-1 " aria-live="polite" aria-atomic="true">
          {% for message in messages %}
            {% include "includes/message.html" %}
          {% endfor %}
      
        </div>
      
      
    {% endif %}
    {% include "includes/header.html" %}

    {% block layout %}
    {% endblock layout%}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body> 
  </html> 
  

